<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Pedidos Em Espera</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!--<ion-list no-lines>
        <div *ngFor="let order of orders | async">
            <ion-item *ngIf="order.status != 'Entregue'">
                <h2>Realizado em: {{order.createdAt | date:'dd/MM/y HH:mm'}}</h2>
                <p>Ordem por: {{order.customer}}</p>
                <p>{{getOrderedProductsList(order.items)}}</p>
                <p>Valor total: R$ {{order.totalValue | number: '1.2-2'}}</p>
                <ion-badge *ngIf="order.status == 'Aguardando entregador'" color="primary" item-right>{{order.status}}
                </ion-badge>
                <ion-badge *ngIf="order.status == 'Em rota'" color="danger" item-right>{{order.status}}</ion-badge>
                <ion-badge *ngIf="order.status == 'Entregue'" color="green" item-right>{{order.status}}</ion-badge>
            </ion-item>
        </div>
    </ion-list>-->

    <ion-card *ngFor="let order of customersOrders">
        <!--<img src="assets/img/avatar.png" offset="100"
             [lazyLoad]="getMapAddress(order.pos.lat, order.pos.lng)">-->
        <img src="{{getMapAddress(order.pos.lat, order.pos.lng)}}" offset="100">
        <!--src="assets/img/avatar.png" [lazyLoad]="getMapAddress(order.pos.lat, order.pos.lng)">-->
        <ion-fab right top>
            <button ion-fab>
                <ion-icon name="pin"></ion-icon>
            </button>
        </ion-fab>

        <ion-item color="secondary" *ngIf="order.deliveryAddress">
            <h2 ion-text color="light" class="h2-margin">Cliente: {{order.customer}}</h2>
            <h2 ion-text color="light" class="h2-margin">Data: {{order.createdAt | date:'dd/MM/y HH:mm'}}</h2>
            <h2 ion-text color="light" class="h2-margin">Endereço</h2>
            <p>{{order.deliveryAddress}}</p>
            <p *ngFor="let item of order.items">
                {{item.amount}}x {{item.name}}
            </p>
        </ion-item>

        <ion-item color="secondary">
          <span class="bold" item-left ion-text color="primary" *ngIf="location">
            <small>({{order.distance}})</small>
          </span>
            <button ion-button item-right color="primary" (click)="goToMap()">
                <ion-icon name="navigate"></ion-icon>
                Iniciar
            </button>
        </ion-item>
    </ion-card>
</ion-content>