<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Pedidos Em Espera</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!--<ion-list no-lines>
        <div *ngFor="let order of orders | async">
            <ion-item *ngIf="order.status != 'Entregue'">
                <h2>Realizado em: {{order.createdAt | date:'dd/MM/y HH:mm'}}</h2>
                <p>Ordem por: {{order.customer}}</p>
                <p>{{getOrderedProductsList(order.items)}}</p>
                <p>Valor total: R$ {{order.totalValue | number: '1.2-2'}}</p>
                <ion-badge *ngIf="order.status == 'Aguardando entregador'" color="primary" item-right>{{order.status}}
                </ion-badge>
                <ion-badge *ngIf="order.status == 'Em rota'" color="danger" item-right>{{order.status}}</ion-badge>
                <ion-badge *ngIf="order.status == 'Entregue'" color="green" item-right>{{order.status}}</ion-badge>
            </ion-item>
        </div>
    </ion-list>-->

    <div *ngFor="let order of customersOrders">
        <ion-card>
            <img src="{{getMapAddress(order.pos.lat, order.pos.lng)}}" offset="100">
            <ion-fab right top>
                <button ion-fab>
                    <ion-icon name="pin"></ion-icon>
                </button>
            </ion-fab>

            <ion-item color="secondary">
                <span class="bold" item-left ion-text color="light">
                    <small>({{order.distance}}, {{order.duration}})</small>
                </span>
                <button ion-button item-right color="primary" (click)="goToMap()">
                    <ion-icon name="navigate"></ion-icon>
                    Iniciar
                </button>
            </ion-item>
        </ion-card>

        <ion-card class="card-secondary">
            <ion-card-header>
                <span ion-text color="light">Cliente: {{order.customer}}</span>
            </ion-card-header>

            <ion-list no-lines>
                <button ion-item (click)="goToMap()">
                    <ion-icon name="time" item-left color="primary"></ion-icon>
                    Data: {{order.createdAt | date:'dd/MM/y HH:mm'}}
                </button>

                <button ion-item (click)="onCall()">
                    <ion-icon name="map" item-left color="primary"></ion-icon>
                    {{order.deliveryAddress}}
                </button>

                <button ion-item (click)="openUrl()">
                    <ion-icon name="cube" item-left color="primary"></ion-icon>
                    <p *ngFor="let item of order.items">
                        {{item.amount}}x {{item.name}}
                    </p>
                </button>

                <button ion-item (click)="openUrl()">
                    <ion-icon name="call" item-left color="primary"></ion-icon>
                    {{order.phone}}
                </button>

            </ion-list>
        </ion-card>
    </div>
</ion-content>