page-product-detail {
  ion-list-header {
    border: none !important;
  }
}

.toast-message,
div.toast-message,
.toast-confirm {
  color: #fff !important;
  > div {
    background-color: #32db64 !important;
  }
}