<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Perfil do Usuário</ion-title>
    </ion-navbar>
</ion-header>

<ion-content color="dark" class="no-scroll">
    <div *ngIf="user.profile">
        <ion-card color="light" *ngIf="this.platform.is('cordova')">
            <img src="{{profile.photo}}"/>
            <ion-card-content>
                <ion-card-title>
                    {{profile.name}}
                </ion-card-title>
                <p>
                    {{profile.email}}
                </p>
                <p *ngIf="profile.provider">
                    <ion-icon name="logo-facebook" item-left></ion-icon>
                    Conectado com o {{profile.provider}}
                </p>
            </ion-card-content>
        </ion-card>
        <div padding>
            <button ion-button round class="button button-full" (click)="logout()">Log out</button>
        </div>
    </div>
    <div *ngIf="!user.profile">
        <h4 padding>Entre ou registre-se usando um dos seguintes serviços para poder ver o seu perfil e ter acesso as demais
            funcionalidades:</h4>
        <ion-list inset>
            <ion-item (click)="facebookLogin('facebook')">
                <ion-icon name="logo-facebook" item-left></ion-icon>
                Facebook
            </ion-item>
        </ion-list>
    </div>
</ion-content>