@font-face {
  font-family: 'Roboto Condensed';
  src: url('../assets/fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

ion-app {
  font-family: 'Roboto Condensed', "Helvetica Neue", sans-serif !important;
}

.bold {
  font-weight: bold;
}

.menu-toolbar {
  padding: 0;
}

ion-list-header {
  border-bottom-color: $text-nav-color !important;
}

.scroll {
  height: 100%;
}

.icon-alignment {
  vertical-align: middle;
}

.item-divider-alignment {
  vertical-align: middle;
  margin-left: 1em;
}

ion-item-divider {
  background: #f8f8f8 !important;
  border: none !important;
}

ion-app._gmaps_cdv_ .nav-decor {
  background-color: transparent !important;
}

.no-scroll .scroll-content {
  overflow-y: auto;
}