<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Minha Sessão</ion-title>
    </ion-navbar>
</ion-header>

<ion-content color="dark" class="no-scroll">
    <div *ngIf="!user.profile">
        <h4 padding>Entre ou registre-se usando um dos seguintes serviços para poder ver o seu perfil e ter acesso as demais
            funcionalidades:</h4>
        <ion-list inset>
            <ion-item (click)="login('facebook')">
                <ion-icon name="logo-facebook" item-left></ion-icon>
                Facebook
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="user.profile">
        <ion-list inset>
            <ion-item>
                <ion-icon name="logo-facebook" item-left></ion-icon>
                Você está atualmente conectado com o Facebook
            </ion-item>
        </ion-list>
    </div>
</ion-content>