page-order-done {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    text-align: center;
    height: 100%;

    ion-icon {
      font-size: 128px;
    }

    p {
      text-align: center !important;
    }
  }
}