<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Meus Pedidos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="no-scroll">
    <ion-list no-lines>
        <ion-item *ngFor="let order of myOrders | async">
            <h2>Realizado em: {{order.createdAt | date:'dd/MM/y HH:mm'}}</h2>
            <p>Ordem por: {{order.customer}}</p>
            <p>{{getOrderedProductsList(order.items)}}</p>
            <p>Valor total: R$ {{order.totalValue | number: '1.2-2'}}</p>
            <ion-badge *ngIf="order.status == 'Aguardando entregador'" color="primary" item-right>{{order.status}}
            </ion-badge>
            <ion-badge *ngIf="order.status == 'Em rota'" color="danger" item-right>{{order.status}}</ion-badge>
            <ion-badge *ngIf="order.status == 'Entregue'" color="green" item-right>{{order.status}}</ion-badge>
        </ion-item>
    </ion-list>
</ion-content>